<table class="table">
  <tr><%= image_tag customer.get_profile_image(100, 100), class: "rounded-circle mb-2" %></tr>
  <tr>
    <th>名前</th>
    <td><%= customer.name %></td>
  </tr>
  <tr>
    <th>紹介文</th>
    <td><%= customer.profile %></td>
  </tr>
</table>
<div class="row">
  <% if customer == current_customer && customer.name != "guestuser" %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <%= link_to 'Begin Chat', message_path(customer.id) %>
  <% end %>
</div>