<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 ><%= @customer.name %></h2>
      <div class="message">
        <% @messages.each do |message| %>
          <% if message.customer_id == current_customer.id %>
            <div class="current-user">
              <strong class="current_user"><%= message.content %></strong>
            </div>
          <% else %>
            <div class="visited-user">
              <small class="visited-user"><%= @customer.name %>さん</small>
              <strong class="visited-user"><%= message.content %></strong>
            </div>
          <% end %>
        <% end %>
      </div>
        <%= form_with model: @message, data: {remote: true} do |f| %>
          <%= f.text_field :content %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
        <% end %>
    </div>
  </div>
</div>