<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="font-weight-bold mt-3"><%= @customer.name %></h3>
      <div class="hline"></div>
      <div id="message">
        <%= render "public/messages/index", messages: @messages, customer: @customer %>
      </div>
        <%= form_with model: @message, data: {remote: true} do |f| %>
        <div class="form-row message-form mx-auto mt-3 mb-3">
        <div class="col-9">
          <%= f.text_field :content, placeholder: "メッセージを入力してください", class: "form-control" %>
          <%= f.hidden_field :room_id %>
        </div>
        <div class="col-3">
          <%= f.submit "送信", class: "btn btn-sm btn-primary chat-btn" %>
        </div>
        </div>
        <% end %>
    </div>
  </div>
</div>