<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 ><%= @customer.name %></h2>
      <div id="message">
        <%= render "public/messages/index", messages: @messages, customer: @customer %>
      </div>
      <%= form_with model: @message, data: {remote: true} do |f| %>
        <%= f.text_field :content, class: "mt-3" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
      <% end %>
    </div>
  </div>
</div>