<div class="text-danger mt-2">
  <%= render 'layouts/errors', obj: activity %>
</div>
<%= form_with model: activity, local:true do |f| %>
  <div class="form-group row mt-5">
    <%= f.label :image, "画像", class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
    </div>
  </div>
  <div class="form-group row mt-3">
    <%= f.label :team_id, "楽団名", class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.collection_select(:team_id, current_customer.teams, :id, :name, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group row mt-3">
    <%= f.label :title, "タイトル", class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row mt-3">
    <%= f.label :content, "内容", class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_area :content, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row mt-3">
    <%= f.label :activity_on, "開催日", class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.date_field :activity_on, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row mt-3">
    <%= f.label :status, "表示状態", class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.collection_radio_buttons :status, Activity.statuses_i18n, :first , :last do |b| %>
        <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %>
      <% end %>
    </div>
  </div>
  <div class="form-group text-center mt-3">
     <%= f.submit submit, class: "btn btn-sm btn-primary" %>
  </div>
<% end %>