<div class="card-columns d-flex flex-wrap mt-3 mb-3">
  <% activities.each do |activity| %>
    <div class="card mx-auto", style="width: 16rem; height: 380px">
      <%= link_to activity_path(activity) do %>
        <%= image_tag activity.get_image(200, 180), class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <%= image_tag activity.customer.get_profile_image(50, 50), class: "mt-3 rounded-circle" %>
          </div>
          <div class="col-9">
            <p class="card-title">
              <%= link_to(activity_path(activity)) do %>
                <strong><i class="far fa-flag"></i><span> <%= activity.title %></span></strong>
              <% end %>
            </p>
            <p class="card-text text-truncate">内容：<%= activity.content%></p>
            <span><i class="fas fa-user"></i> By <%= activity.team.name %> ｜ </span>
            <% if customer_signed_in? %>
              <span id="favorite_buttons_<%= activity.id %>">
                <%= render "public/favorites/btn", activity: activity %>
              </span>
            <% else %>
              <span>
                <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= activity.favorites.count %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center">
  <%= paginate activities %>
</div>
