<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>楽団名</th>
      <th>タイトル</th>
      <th>内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
    <tr>
      <td><%= image_tag activity.customer.get_profile_image(50, 50) %></td>
      <td><%= activity.team.name %></td>
      <td><%= link_to activity.title, activity_path(activity) %></td>
      <td><%= activity.content%></td>
      <td id="favorite_buttons_<%= activity.id %>">
        <%= render "public/favorites/btn", activity: activity %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
