<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>楽団名</th>
      <th>タイトル</th>
      <th>内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
    <tr>
      <td><%= image_tag activity.customer.get_profile_image(50, 50) %></td>
      <td><%= activity.team.name %></td>
      <td><%= link_to activity.title, activity_path(activity) %></td>
      <td><%= activity.content%></td>
      <% if customer_signed_in? %>
      <td id="favorite_buttons_<%= activity.id %>">
        <%= render "public/favorites/btn", activity: activity %>
      </td>
      <% else %>
      <td>
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= activity.favorites.count %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
