<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/customers/info", customer: @activity.customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>活動情報詳細</h1>
      <div class="flex">
			  <div class="image_field">
				  <%= image_tag @activity.get_image(100, 100) %>
			  </div>
        <table>
          <tr>
            <th>楽団名</th>
            <td><%= link_to @activity.team.name, team_path(@activity.team_id) %></td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td><%= @activity.title %></td>
          </tr>
          <tr>
            <th>内容</th>
            <td><%= @activity.content %></td>
          </tr>
          <tr>
            <th>開催日</th>
            <td><%= @activity.activity_on %></td>
          </tr>
          <tr>
            <th></th>
            <% if customer_signed_in? %>
            <td id="favorite_buttons_<%= @activity.id %>">
              <%= render "public/favorites/btn", activity: @activity %>
            </td>
            <% else %>
            <td>
              <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= @activity.favorites.count %>
            </td>
            <% end %>
          </tr>
        </table>
        <% if @activity.customer == current_customer %>
          <%= link_to "編集", edit_activity_path(@activity), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", activity_path(@activity), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
