<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <%= render "public/customers/info", customer: @activity.customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="row">
        <h3 class="font-weight-bold mx-auto my-3">活動情報詳細</h3>
      </div>
      <div class="row justify-content-center mt-2">
			  <div class="col-md-7">
				  <%= image_tag @activity.get_image(200, 400), class: "d-block mx-auto" %>
			  </div>
			  <div class="col-md-5 mt-3">
          <table class="w-100">
            <tr class="row">
              <th class="col-4">楽団名</th>
              <td class="col-8"><%= link_to @activity.team.name, team_path(@activity.team_id), class: "text-dark" %></td>
            </tr>
            <tr class="row">
              <th class="col-4">タイトル</th>
              <td class="col-8"><%= @activity.title %></td>
            </tr>
            <tr class="row">
              <th class="col-4">内容</th>
              <td class="col-8"><%= @activity.content %></td>
            </tr>
            <tr class="row">
              <th class="col-4">開催日</th>
              <td class="col-8"><%= @activity.activity_on %></td>
            </tr>
            <tr class="row">
              <th class="col-4"></th>
              <% if customer_signed_in? %>
              <td id="favorite_buttons_<%= @activity.id %>" class="col-8">
                <%= render "public/favorites/btn", activity: @activity %>
              </td>
              <% else %>
              <td class="col-8">
                <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= @activity.favorites.count %>
              </td>
              <% end %>
            </tr>
          </table>
        </div>
        <div class="col-auto mx-auto mt-5">
          <% if @activity.customer == current_customer %>
            <%= link_to "編集", edit_activity_path(@activity), class: "btn btn-sm btn-primary mr-2" %>
            <%= link_to "削除", activity_path(@activity), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
