<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/customers/info", customer: @activity.customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>活動情報詳細</h1>
      <div class="flex">
		    <div>
			    <div class="image_field">
				    <%= image_tag @activity.get_image(100, 100) %>
			    </div>
		    </div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>楽団名</td>
              <td><%= link_to @activity.team.name, team_path(@activity.team_id) %></td>
            </tr>
            <tr>
              <td>タイトル</td>
              <td><%= @activity.title %></td>
            </tr>
            <tr>
              <td>内容</td>
              <td><%= @activity.content %></td>
            </tr>
            <tr>
              <td>開催日</td>
              <td><%= @activity.activity_on %></td>
            </tr>
            <tr>
              <td id="favorite_buttons_<%= @activity.id %>">
                <%= render "public/favorites/btn", activity: @activity %>
              </td>
            </tr>
          </tbody>
        </table>
        <% if @activity.customer == current_customer %>
        <%= link_to "編集", edit_activity_path(@activity), class: "btn btn-sm btn-success" %>
        <%= link_to "削除", activity_path(@activity), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
