<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th>楽団名</th>
      <th>活動場所</th>
      <th>募集パート</th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
    <tr>
      <td>
        <%= link_to(team_path(team)) do %>
          <i class="fa fa-angle-right"></i> <%= team.name %>
        <% end %>
      </td>
      <td><%= team.address %></td>
      <td>
        <% team.tags.each do |tag| %>
          <li style="list-style: none;"><%= link_to tag.name, search_path(content: tag.name, model:"tag"), class: "btn btn-tag" %></li>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate teams %>
</div>