<table class="table table-hover">
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>楽団名</th>
      <th>活動場所</th>
      <th>募集パート</th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
    <tr>
      <td><%= team.customer.name %></td>
      <td><%= link_to team.name, admin_team_path(team) %></td>
      <td><%= team.address %></td>
      <% team.tags.each do |tag| %>
        <td><%= tag.name %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate teams %>
</div>