<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10">
      <h2>楽団情報詳細</h2>
      <table>
          <tr>
            <th>投稿者</th>
            <td><%= link_to @team.customer.name, admin_customer_path(@team.customer) %></th>
          </tr>
          <tr>
            <th>楽団名</th>
            <td><%= @team.name %></td>
          </tr>
          <tr>
            <th>活動場所</th>
            <td><%= @team.address %></td>
          </tr>
          <tr>
            <th>募集パート</th>
            <% @team.tags.each do |tag| %>
              <td><%= tag.name %></td>
            <% end %>
          </tr>
          <tr>
            <th>紹介文</th>
            <td><%= @team.introduction %></td>
          </tr>
        </table>
        <%= link_to "編集", edit_admin_team_path(@team), class: "btn btn-sm btn-success" %>
        <%= link_to "削除", admin_team_path(@team), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>